@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > .skill-icon {
  color: $subTitle;
  fill: $subTitle;
  height: 50px;
  width: 50px;
}

.software-skill-inline > .skill-icon:hover {
  color: $skillsColor;
  fill: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > .skill-icon:hover ~ p {
  color: $skillsColor;
  fill: $skillsColor;
}
